@use './partials/utilities.scss';
@use './partials/layout.scss';


*{
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

#app {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--main-color);
}

main {
  flex-grow: 1;
}
 
// RESET
a{
  text-decoration: none;
  color: currentColor;
}

ul,ol,menu{
  list-style: none;
}

img{
  max-width: 100%;
}

