@use './utilities.scss';
.btn-main{
    background-color: var(--main-dark-color);
    color: white;

    &:hover{
        background-color: var(--dark-color);
    }
}

.router{
    color: currentColor;
    text-decoration: none;
}

.dark-bg{
    background-color: var(--dark-color);
}

.main-bg{
    background-color: var(--main-color);
}

// BADGES TECNOLOGIE

.HTML{
    background-color: #9D3F66
}

.CSS,
.SCSS{
    background-color: #B46673
}

.BOOTSTRAP{
    background-color: #C38994
}

.JS{
    background-color: #CFA3A6
}

.VUE{
    background-color: #E4ABAB;
}

.MYSQL{
    background-color: #E4B6B8;
}

.PHP{
    background-color: #E0BEB3;
}

.LARAVEL{
    background-color: #EED0CC;
}
 